body {
  background: #1c1c1c;
  overflow: overlay;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  scrollbar-color: #5c5c5c;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif, Arial, Helvetica;
  color: #858585;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}

.container .header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.container .header .toggler {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
}
.container .header .toggler i {
  transition: all 0.2s ease-in-out;
}
.container .header .toggler:hover i {
  color: #ececec;
}
.container .header .nav-ul {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.container .header .nav-ul li {
  font-size: 1.5rem;
  list-style: none;
  margin-left: 10px;
}
.container .header .nav-ul li button {
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.container .header .nav-ul li button:hover {
  color: #ececec;
}

.main h1 {
  text-align: center;
  margin-bottom: 120px;
  font-size: 2rem;
  font-weight: 300;
}
.main h1 span {
  font-weight: 700;
  font-weight: bold;
}
.main img {
  display: block;
  margin: 0 auto;
  border-radius: 55%;
  height: 500px;
  width: 500px;
}
.main svg {
  margin-top: -320px;
}

.main .skillset h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.main .skillset .skillset-list li {
  margin-top: 50px;
  list-style: none;
}
.main .skillset .skillset-list li h3 {
  border-bottom: 1px solid #2c2c2c;
  padding: 15px;
  font-weight: 300;
  font-size: 1.5rem;
}
.main .skillset .skillset-list li .languages {
  display: flex;
}
.main .skillset .skillset-list li .languages svg {
  height: 100px;
  margin: 0;
  margin-right: 15px;
}

.main .about {
  width: 100%;
  height: 500px;
  background: #2c2c2c;
}
.main .about h2 {
  margin-top: -35px;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.main .about p {
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  padding: 1.5rem;
}

.main .contact {
  margin-top: 150px;
  text-align: center;
}
.main .contact a {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: #2c2c2c;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
}
.main .contact a:active {
  box-shadow: none;
}

.footer {
  margin-top: 150px;
  padding: 25px;
  background: #2c2c2c;
}
.footer .links-list {
  display: flex;
  justify-content: space-around;
}
.footer .links-list li {
  list-style: none;
}
.footer .links-list li i {
  font-size: 2.5rem;
}
.footer .links-list li:hover i {
  color: #ececec;
}

body .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
body .container .header {
  margin-top: 24px;
  display: flex;
  margin-bottom: 148px;
}

/*# sourceMappingURL=styles.css.map */
