@import 'colors';

body {
  background: $black;
  overflow: overlay;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(12px, 1.5vw, 16px);

  //* SCROLLBAR
  scrollbar-color: #5c5c5c;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
  color: $gray;
}

//* Dark mode

.bright:hover {
  color: #2c2c2c;
  i {
    color: #2c2c2c;
  }
}
.dark:hover {
  color: $white;
  i {
    color: $white;
  }
}

.dark-bg {
  background: $secondary-black;
  fill: $secondary-black;
}

.bright-bg {
  background: $dark-white;
  fill: $dark-white;
}

//* SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}
