@import "generals";
@import "./partials/header";
@import "./partials/main";
@import "./partials/skillset";
@import "./partials/about";
@import "./partials/contact";
@import "./partials/footer";

body {
  .container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    .header {
      margin-top: 24px;
      display: flex;
      margin-bottom: 148px;
    }
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 11px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 8px;
  }
  .header {
    .nav-ul {
      text-align: center;
      flex-flow: column;
      li{
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 200px) {
  html {
    font-size: 7px;
  }
}
