@import 'generals';
@import './partials/header';
@import './partials/main';
@import './partials/skillset';
@import './partials/about';
@import './partials/contact';
@import './partials/footer';
@import './partials/mediaQueries';
@import './partials/proyects';
@import './partials/menu';
@import './partials/backToTop';
@import './partials/animations';

body {
  .container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
  }
}
