html.dark-theme:root {
  --principal-color: #1c1c1c;
  --secondary-color: #2c2c2c;
  --gray: #a3a3a3;
  --hover: #cecece;
  --border: #2c2c2c;
}

html.light-theme:root {
  --principal-color: #d9d9d9;
  --secondary-color: #e8e8e8;
  --gray: #505050;
  --hover: #2c2c2c;
  --border: #b1b1b1;
}

body {
  background: var(--principal-color);
  overflow: overlay;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(12px, 1.5vw, 16px);
  scrollbar-color: #5c5c5c;
  scrollbar-width: thin;
}

button:hover, a:hover {
  color: var(--hover);
}
button:hover i, a:hover i {
  color: var(--hover);
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover i {
  color: var(--hover);
}

* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
  color: var(--gray);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}

.header {
  margin-top: 24px;
  display: flex;
  margin-bottom: 148px;
  justify-content: space-between;
}
.header h2 {
  font-weight: 400;
  margin: 0;
  font-style: 1rem;
}
.header .toggler-container .toggler {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
}
.header .toggler-container .toggler i {
  transition: all 0.2s ease-in-out;
}
.header .nav-ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}
.header .nav-ul li {
  font-size: 1.3rem;
  list-style: none;
  margin-left: 10px;
}
.header .nav-ul li button {
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.header .hide {
  display: none;
}

.main h1 {
  text-align: center;
  margin-bottom: 120px;
  font-size: 2rem;
  font-weight: 300;
}
.main h1 span {
  font-weight: 700;
  font-weight: bold;
}
.main .mainPhoto {
  display: block;
  margin: 0 auto;
  height: auto;
  width: clamp(75px, 50%, 600px);
  animation: float 6s ease-in-out infinite;
  border-radius: 50%;
  border: 5px solid var(--border);
  background-color: var(--principal-color);
}
.main svg {
  margin-top: -15%;
  fill: var(--secondary-color);
}

.main .skillset h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
.main .skillset .skillset-list li {
  margin-top: 50px;
  list-style: none;
}
.main .skillset .skillset-list li h3 {
  border-bottom: 1px solid var(--border);
  padding: 15px;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 25px;
}
.main .skillset .skillset-list li .languages {
  display: flex;
  flex-wrap: wrap;
}
.main .skillset .skillset-list li .languages svg {
  height: 50px;
  margin: 0;
  margin-bottom: 15px;
  margin-right: 15px;
}

.main .about {
  margin-top: 10px;
  width: 100%;
  height: auto;
  padding: 0 4rem;
  padding-bottom: 50px;
  background: var(--secondary-color);
}
.main .about strong {
  font-weight: 700;
}
.main .about h2 {
  margin-top: -30px;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.main .about p {
  overflow: hidden;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2rem;
  padding: 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.main .contact {
  margin-top: 150px;
  text-align: center;
}
.main .contact a {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.main .contact a:hover {
  color: var(--hover);
}

.footer {
  margin-top: 150px;
  padding: 25px;
  background: var(--secondary-color);
}
.footer .links-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.footer .links-list li {
  list-style: none;
  background: var(--secondary-color);
}
.footer .links-list li i {
  transition: all 0.2s ease-in-out;
  font-size: 2.5rem;
}

@media (max-width: 500px) {
  .header .menu .nav {
    display: block;
  }
  .header .nav-ul {
    display: none !important;
  }
}
@media (max-width: 300px) {
  .main .about h2 {
    margin-top: -25px;
  }
  .backToTop {
    display: none !important;
  }
}
@media (max-width: 400px) {
  .backToTop {
    right: 10px !important;
    padding: 0.75rem !important;
  }
}
@media (max-width: 800px) {
  .main .proyects .proyects-links li {
    width: 70% !important;
    justify-content: center;
  }
  .main .proyects .proyects-links li img {
    height: 100% !important;
  }
  .main .proyects .proyectsLinks li {
    width: auto !important;
  }
}
@media (max-width: 1000px) {
  .main .proyects .proyects-links li {
    width: 35%;
    justify-content: center !important;
  }
  .main .proyects .proyects-links li img {
    height: 150px;
  }
  .main .proyects .proyectsLinks li {
    width: auto !important;
  }
}
.proyects h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 100px;
}
.proyects .proyects-links {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0;
}
.proyects .proyects-links li {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  padding: 25px;
  width: 30%;
  border-radius: 25px;
  margin-bottom: 25px;
  background: var(--secondary-color);
}
.proyects .proyects-links li a {
  color: var(--secondary-color);
}
.proyects .proyects-links li h3 {
  border-top: 1px solid var(--gray);
  padding-top: 20px;
  padding-bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin: 0;
}
.proyects .proyects-links li p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}
.proyects .proyects-links li img {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 100%;
  padding: 10px;
  transition: all 0.2s ease;
}
.proyects .proyects-links li .proyectsLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.proyects .proyects-links li .proyectsLinks li {
  width: auto;
  padding: 0;
  display: inline;
  box-shadow: none;
}
.proyects .proyects-links li .proyectsLinks li a i {
  transition: all 0.2s ease-in-out;
  font-size: 2.5rem;
}

.checkbox {
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.menu {
  display: flex;
}

.hamburger-lines {
  font-size: 1.5rem;
  width: 16px;
}
.hamburger-lines i {
  transition: all 0.3s ease-in-out;
}

.nav {
  display: none;
  margin-right: 25px;
}
.nav .menu-items {
  margin-top: 15px;
  padding: 0;
  list-style: none;
  position: absolute;
  display: none;
  flex-direction: column;
  margin-left: -25px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.nav .menu-items li {
  margin-bottom: 10px;
  font-size: 1.3rem;
  list-style: none;
}
.nav .menu-items li button {
  padding: 0;
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.nav .menu-items li button i {
  color: var(--secondary-color);
}

input[type=checkbox]:checked ~ .menu-items {
  display: block;
}

input[type=checkbox]:hover ~ .hamburger-lines i {
  color: var(--hover);
}

.hide {
  display: none;
}

.backToTop {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border-radius: 100%;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background: var(--secondary-color);
}
.backToTop i {
  transition: all 0.3s ease-in-out;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
body {
  transition: all 0.3s ease-out;
}
body .container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/*# sourceMappingURL=styles.css.map */
