@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #1c1c1c;
    --secondary-color: #2c2c2c;
    --gray-color: #a3a3a3;
    --hover-color: #cecece;
    --border-color: #2c2c2c;
  }
  .light:root {
    --primary-color: #d9d9d9;
    --secondary-color: #e8e8e8;
    --gray-color: #505050;
    --hover-color: #2c2c2c;
    --border-color: #b1b1b1;
  }

  html {
    scroll-behavior: smooth;
    font-size: clamp(12px, 1.5vw, 16px);
    scrollbar-color: #5c5c5c;
    scrollbar-width: thin;
  }

  button:hover svg,
  a:hover svg,
  button:hover,
  a:hover {
    fill: var(--hover-color);
    color: var(--hover-color);
  }

  a svg,
  button svg,
  a {
    transition: all 0.2s ease-in-out;
  }

  a {
    text-decoration: none;
  }

  * {
    font-family: sans-serif, Arial, Helvetica;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
  }

  .mainPhoto {
    display: block;
    margin: 0 auto;
    height: auto;
    width: clamp(75px, 50%, 600px);
    animation: float 6s ease-in-out infinite;
    border-radius: 50%;
    border: 5px solid var(--border-color);
    background-color: var(--primary-color);
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
}
