html.dark-theme:root {
  --principal-color: #1c1c1c;
  --secondary-color: #2c2c2c;
  --gray: #a3a3a3;
  --hover: #cecece;
  --border: #2c2c2c;
}

html.light-theme:root {
  --principal-color: #d9d9d9;
  --secondary-color: #e8e8e8;
  --gray: #505050;
  --hover: #2c2c2c;
  --border: #b1b1b1;
}

body {
  background: var(--principal-color);
  overflow: overlay;
}

html {
  scroll-behavior: smooth;
  font-size: clamp(12px, 1.5vw, 16px);

  //* SCROLLBAR
  scrollbar-color: #5c5c5c;
  scrollbar-width: thin;
}

button:hover,
a:hover {
  color: var(--hover);
  i {
    color: var(--hover);
  }
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a:hover {
  i {
    color: var(--hover);
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif, Arial, Helvetica;
  color: var(--gray);
}

//* SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c;
}
