.footer {
  margin-top: 150px;
  padding: 25px;
  .links-list {
    padding: 0;
    display: flex;
    justify-content: space-around;
    li {
      list-style: none;
      i {
        transition: all 0.2s ease-in-out;
        font-size: 2.5rem;
      }
    }
  }
}
