.container {
  .header {
    margin-top: 24px;
    display: flex;
    margin-bottom: 148px;
    h2 {
      font-weight: 400;
      margin: 0;
      font-style: 1rem;
    }
    .toggler-container {
      .toggler {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 1.5rem;
        i {
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .nav-ul {
      padding: 0;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      li {
        font-size: 1.5rem;
        list-style: none;
        margin-left: 10px;
        button {
          font-weight: 300;
          background: none;
          border: none;
          cursor: pointer;
          outline: none;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .hide {
      display: none;
    }
  }
}
