.container {
  .header {
    .toggler-container{      
      .toggler {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 1.5rem;
        i {
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .nav-ul {
      padding: 0;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      li {
        font-size: 1.5rem;
        list-style: none;
        margin-left: 10px;
        button {
          font-weight: 300;
          background: none;
          border: none;
          cursor: pointer;
          outline: none;
          transition: all 0.2s ease-in-out;
        }
      }
    }
    .bright:hover {
      color: #2c2c2c;
      i {
        color: #2c2c2c;
      }
    }
    .dark:hover {
      color: $white;
      i {
        color: $white;
      }
    }
    .hide {
      display: none;
    }
  }
}
