.main {
  h1 {
    text-align: center;
    margin-bottom: 120px;
    font-size: 2rem;
    font-weight: 300;
    span {
      font-weight: 700;
      font-weight: bold;
    }
  }
  .mainPhoto {
    display: block;
    margin: 0 auto;
    height: auto;
    width: clamp(75px, 50%, 600px);
    animation: float 6s ease-in-out infinite;
    border-radius: 50%;
    border: 5px solid var(--border);
    background-color: var(--principal-color);
  }
  svg {
    margin-top: -15%;
    fill: var(--secondary-color);
  }
}
