@media (max-width: 500px) {
  .header {
    .menu {
      .nav {
        display: block;
      }
    }
    .nav-ul {
      display: none !important;
    }
  }
}
@media (max-width: 300px) {
  .main {
    .about {
      h2 {
        margin-top: -25px;
      }
    }
  }
  .backToTop {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .backToTop {
    right: 10px !important;
    padding: 0.75rem !important;
  }
}

@media (max-width: 800px) {
  .main {
    .proyects {
      .proyects-links {
        li {
          width: 70% !important;
          justify-content: center;
          img {
            height: 100% !important;
          }
        }
      }
      .proyectsLinks {
        li {
          width: auto !important;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .main {
    .proyects {
      .proyects-links {
        li {
          width: 35%;
          justify-content: center !important;
          img {
            height: 150px;
          }
        }
      }
      .proyectsLinks {
        li {
          width: auto !important;
        }
      }
    }
  }
}
