@media (max-width: 500px) {
  .header {
    .nav-ul {
      text-align: center;
      justify-content: center;
      flex-flow: column;
      li {
        margin-bottom: 5px;
      }
    }
  }
}
@media (max-width: 300px) {
  .main {
    .about {
      h2{
        margin-top: -25px;
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    .proyects{
      .proyects-links{
        li{
          width: 70%;
          justify-content: center;
        }
      }
    }
  }
}

