.checkbox {
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.menu {
  display: flex;
}

.hamburger-lines {
  font-size: 1.5rem;
  width: 16px;
}

.nav {
  display: none;
  margin-right: 25px;
  .menu-items {
    margin-top: 15px;
    padding: 0;
    list-style: none;
    position: absolute;
    display: none;
    flex-direction: column;
    margin-left: -25px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    li {
      margin-bottom: 10px;
      font-size: 1.3rem;
      list-style: none;
      button {
        padding: 0;
        font-weight: 300;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        transition: all 0.2s ease-in-out;
        i {
          color: var(--secondary-color);
        }
      }
    }
  }
}

input[type='checkbox']:checked ~ .menu-items {
  display: block;
}

.hide {
  display: none;
}
