.main {
  .skillset {
    h2 {
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 100px;
    }
    .skillset-list {
      li {
        margin-top: 50px;
        list-style: none;
        h3 {
          border-bottom: 1px solid var(--border);
          padding: 15px;
          font-weight: 300;
          font-size: 1.5rem;
          margin-top: 0;
          margin-bottom: 25px;
        }
        .languages {
          display: flex;
          flex-wrap: wrap;
          svg {
            height: 50px;
            margin: 0;
            margin-bottom: 15px;
            margin-right: 15px;
          }
        }
      }
    }
  }
}
