---
import '../styles/styles.css'
import 'aos/dist/aos.css'
import {
  Navbar,
  Footer,
  Skillset,
  Projects,
  BackToTop
} from '../components/react'
import { Image } from 'astro:assets'
import { WaveSvg } from '../components/react/Icons'
import About from '../components/About.astro'
import Contact from '../components/Contact.astro'
import FlorkImg from '../assets/flork.webp'
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:site_name" content="Wadev Portfolio" />
    <meta property="og:title" content="Hey! this is my porfolio :-)" />
    <meta
      property="og:image"
      content="https://wadev.dev/images/apple-touch-icon.png"
    />
    <meta property="og:url" content="https://wadev.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Wadev Portfolio" />
    <meta
      property="og:description"
      content="Hello!, I'm Wadev and I'm a fullstack developer and this is my portfolio, where you can contact me, see all my projects, see my skills or my biography."
    />
    <meta property="og:image:width" content="129" />
    <meta property="og:image:height" content="129" />
    <meta
      name="description"
      content="Hello!, I'm Wadev and I'm a fullstack developer and this is my portfolio, where you can contact me, see all my projects, see my skills or my biography."
    />
    <meta name="theme-color" content="#2c2c2c">
    <meta name="author" content="Wadev" />
    <meta
      name="keywords"
      content="Wadev, developer, dev, fullstack, Waxer59, Wadev developer, Waxer59 developer"
    />
    <link href="/manifest.json" rel="manifest" />
    <title>Wadev Portfolio</title>
  </head>
  <body
    class="bg-primaryColor transition-colors ease-out duration-300 text-grayColor">
    <BackToTop client:only="react" />
    <nav class="max-w-[1440px] w-11/12 mx-auto h-20 pt-6 pb-36">
      <Navbar client:only="react" />
    </nav>
    <main>
      <h1 class="text-center mb-24 text-2xl sm:text-3xl font-300">
        Hi, i'm <strong>Wadev</strong>
      </h1>
      <Image
        src={FlorkImg}
        loading="eager"
        alt="Wadev profile picture"
        class="animate-floating rounded-full mx-auto border-borderColor border-solid border-[5px] bg-primaryColor w-responsivePhoto"
      />
      <WaveSvg className="fill-secondaryColor -mt-24 sm:-mt-48 lg:-mt-80" />
      <About />
    </main>
    <Projects />
    <Skillset />
    <Contact />
    <Footer />
  </body>
</html>

<script>
  import AOS from 'aos'
  AOS.init()
</script>
