.main .contact {
  margin-top: 150px;
  text-align: center;
}
.main .contact a {
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  background-color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}
.main .contact a:hover {
  color: var(--hover);
}
