.checkbox {
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.menu {
  display: flex;
}
.hamburger-lines {
  font-size: 1.5rem;
  width: 16px;
}
.hamburger-lines span svg {
  transition: all 0.3s ease-in-out;
}
.nav {
  display: none;
  margin-right: 25px;
}
.nav .menu-items {
  margin-top: 15px;
  padding: 0;
  list-style: none;
  position: absolute;
  display: none;
  flex-direction: column;
  margin-left: -25px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
.nav .menu-items li {
  margin-bottom: 10px;
  font-size: 1.3rem;
  list-style: none;
}
.nav .menu-items li button {
  padding: 0;
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}
input[type='checkbox']:checked ~ .menu-items {
  display: block;
}
input[type='checkbox']:hover ~ .hamburger-lines span svg {
  fill: var(--hover);
}
.hide {
  display: none;
}
.header {
  margin-top: 24px;
  display: flex;
  margin-bottom: 148px;
  justify-content: space-between;
}
.header h2 {
  font-weight: 400;
  margin: 0;
  font-style: 1rem;
}
.header .toggler-container .toggler {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1.5rem;
}
.header .toggler-container .toggler i {
  transition: all 0.2s ease-in-out;
}
.header .nav-ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}
.header .nav-ul li {
  font-size: 1.3rem;
  list-style: none;
  margin-left: 10px;
}
.header .nav-ul li button {
  font-weight: 300;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.header .hide {
  display: none;
}
