---
---

<div class="w-full h-auto py-[4rem] pb-[50px] bg-secondaryColor" id="about">
  <h2 class="mt-[-30px] text-4xl sm:text-5xl font-normal text-center">About</h2>
  <p
    class="[text-wrap:balance] text-lg sm:text-xl text-center p-[1.5rem] max-w-[800px] mx-auto">
    Hi!!, my name is <strong>Hugo</strong> but you can call me{' '}
    <strong>Wadev</strong>, I have been programming since I was fourteen years
    old, I started with C++ and from there I went on to study java, after
    learning java I started to study web development until now{' '}
    <strong>:)</strong>
  </p>
</div>
