---

---

<div
  className="w-full h-auto py-[4rem] pb-[50px] bg-secondaryColor mt-[-1px]"
  id="about">
  <h2 className="mt-[-30px] text-4xl sm:text-5xl font-normal text-center">About</h2>
  <p
    className="[text-wrap:balance] text-lg sm:text-xl text-center p-[1.5rem] max-w-[800px] mx-auto">
    Hi!!, I'm <strong>Hugo</strong>, I have been programming since I was
    fourteen years old, I started with C++ and from there I went on to study
    java, after learning java I started to study web development until now{' '}
    <strong>:)</strong>
  </p>
</div>
