.footer {
  margin-top: 150px;
  padding: 25px;
  background: var(--secondary-color);
}
.footer .links-list {
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.footer .links-list li {
  list-style: none;
  background: var(--secondary-color);
}
.footer-icon {
  font-size: 2.5rem;
}
